{% extends "common.html" %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <h3 class="mt30"> Programs</h3><br>
        <h4>
            <ul>{% for program in programs %}
                <a href="{{url_for('display_program_courses', program_title = program.title)}}">
                    <li> {{program.title}}</li>
                    <br>
                </a>
                {% endfor %}
            </ul>
        </h4>
    </div>
    <div class="col-md-8">
        <div class="container">
            <div class="mt30">
                <h3 class="di"> Latest courses</h3>
                {% if 'username' in session %}
                <a href="{{url_for('create_new_course')}}" class="btn btn-success" style="margin-left: 30%">Create a new
                    course</a>
                {% endif %}
            </div>
            <h5>
                <ul>{% for course in courses %}
                    <a
                        href="{{url_for('display_course_information', program_id = course.id, course_title= course.title)}}">
                        <li>{{course.title}}
                            <span>({{course.programs.title}})</span>
                        </li><br>
                    </a>
                    {% endfor %}
                </ul>
            </h5>
        </div>
    </div>
</div>


{% endblock %}