{% extends "common.html" %}
{% block content %}
<div class="row" class="ml30">
    <div class="col-md-8">
        <h3> Create a new course </h3>

        <form action="{{url_for('create_new_course')}}" method="post">
            <fieldset>
                <label for="title">
                    <h4>Course title</h4>
                </label>
                <input class="form-control mb2" id="title" type="text" name="title">


                <label for="description">
                    <h4>Description</h4>
                </label>
                <textarea name="description" id="description" rows="5" class="form-control mb2"
                    aria-valuemax="512"></textarea>

                <label for="program_id">
                    <h4>Program</h4>
                </label>
                <select class="form-control mb2 w30" name="program_id">
                    {% for program in programs %}
                    <option value="{{program.id}}">{{program.title}}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <input type="submit" value="submit" class="btn btn-primary mr50 mt50">
            <a href="{{url_for('display_root')}}"
                class="btn btn-secondary mt50">Cancel</a>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p class="alert alert-danger" role="alert">{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </form>
    </div>
</div>
{% endblock %}