<!DOCTYPE html>
<html lang="en">

<head>
    <title>Udacity courses catalog</title>

    <meta name="author" content="Sid Ali Mahmoudi">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="Udacity courses catalog, Udacity programs, Udacity courses, nano degrees, free courses">


    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
        <div class="container">
            <a class="navbar-brand" href="{{url_for('display_root')}}">
                <h2>
                    <img src="/static/udacity.jpg" width="80" height="95" class="d-inline-block align-middle" alt="">
                    Udacity catalog</h2>
            </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">

                </ul>
                <a class="navbar-brand" href="https://www.udacity.com/courses/all">
                    <h2>Full Catalog online</h2>
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">

                </ul>
                {%if 'username' not in session %}
                <a href="{{url_for('login')}}" class="btn btn-success">
                    Login
                </a>
                {% else %}
                <a href="{{url_for('logout')}}" class="btn btn-danger">
                    Logout
                </a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="row" style="margin-left: 15px">
        <div class="col-md-8">
            <h3> Edit {{course.title}} course </h3>

            <form action="{{url_for('edit_course', program_id= course.program_id, course_id=course.id)}}" method="post">
                <fieldset>
                    <label for="title">
                        <h4>Course title</h4>
                    </label>

                    <input class="form-control" id="title" type="text" name="title" style="margin-bottom: 2%"
                        placeholder="{{course.title}}">


                    <label for="description">
                        <h4>Description</h4>
                    </label>
                    <textarea name="description" id="description" rows="5" class="form-control"
                        style="margin-bottom: 2%" aria-valuemax="255" placeholder="{{course.description}}">
                </textarea>

                    <label for="program_id">
                        <h4>Program</h4>
                    </label>
                    <select class="form-control" id="program_id" name="program_id" style="margin-bottom: 2%; width: 30%">
                        {% for program in programs %}
                        <option {% if program.id==course.program_id %} selected="selected"{% endif %} value="{{program.id}}">{{program.title}}</option>
                        {% endfor %}
                    </select>
                </fieldset>
                <input type="submit" value="submit" class="btn btn-primary">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <p class="alert alert-danger" role="alert">{{ message }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </form>
        </div>
    </div>