{% extends "common.html" %}

{% block content %}
<div class="row h-100 justify-content-center align-items-center mt50">
    <div class="col-md-8">
        <h3> Edit {{course.title}} course </h3>

        <form action="{{url_for('edit_course', program_id= course.program_id, course_id=course.id)}}" method="post">
            <fieldset>
                <label for="title">
                    <h4>Course title</h4>
                </label>
                <input class="form-control mb2" id="title" type="text" name="title" placeholder="{{course.title}}">

                <label for="description">
                    <h4>Description</h4>
                </label>
                <textarea name="description" id="description" rows="5" class="form-control mb2" aria-valuemax="255"
                    placeholder="{{course.description}}">
                </textarea>

                <label for="program_id">
                    <h4>Program</h4>
                </label>
                <select class="form-control mb2 w30" id="program_id" name="program_id">
                    {% for program in programs %}
                    <option {% if program.id==course.program_id %} selected="selected" {% endif %}
                        value="{{program.id}}">{{program.title}}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <input type="submit" value="submit" class="btn btn-primary mr50 mt50">
            <a href="{{url_for('display_course_information', program_id = course.program_id ,course_title = course.title )}}"
                class="btn btn-secondary mt50">Cancel</a>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p class="alert alert-danger" role="alert">{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </form>
    </div>
</div>
{% endblock %}